# Eclipse
*.pydevproject
.project
.metadata

# Intellij project files
*.iml
*.ipr
*.iws
.idea

# Emacs
\#*\#
.#*

# SublimeText
.DS_Store
*.sublime-project
*.sublime-workspace

node_modules
selenium
.tmp
src/bower_components
