.ya-treeview {
  font-size: 12px;

  ul {
    padding-left: 0px;
  }

  li {
    list-style: none;
    padding-left: 20px;
  }

  a {
    padding: 0;
    margin: 0;
    font-size: 11px;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .node .node-content {
    margin-left: 12px;
    padding-left: 2px;
  }

  .selected {
    background-color: #aaddff;
    font-weight: bold;
  }
}