<ul ng-hide="node.collapsed">
    <li class="node" ng-repeat="node in children">
        <div ng-show="node.$hasChildren">
            <a ng-show="node.collapsed" class="btn btn-link pull-left" ng-click="expand(node)"><i
                    class="glyphicon glyphicon-chevron-right"></i></a>
            <a ng-hide="node.collapsed" class="btn btn-link pull-left" ng-click="collapse(node)"><i
                    class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
        <div class="node-content" ya-transclude ng-class="{'node-children': node.$hasChildren}"
             ng-click="selectNode($event, node)" ng-dblclick="dblClick($event, node)"></div>
        <div ya-node="node" ya-children="node.$children" class="ya-node"></div>
    </li>
</ul>