<div class="ya-treeview">
    <ul>
        <li class="node" ng-repeat="node in tree">
            <div ng-show="node.$hasChildren">
                <a ng-show="node.collapsed" class="btn btn-link pull-left" ng-click="expand(node)"><i
                        class="fa fa-plus-square"></i></a>
                <a ng-hide="node.collapsed" class="btn btn-link pull-left" ng-click="collapse(node)"><i
                        class="fa fa-minus-square"></i></a>
            </div>
            <div class="node-content" ya-transclude ng-class="{selected: node == context.selectedNode, 'node-children': node.$hasChildren}"
                 ng-click="selectNode(node)" ng-dblclick="dblClick(node)"></div>
            <div ya-node="node" ya-children="node.$children" class="ya-node"></div>
        </li>
    </ul>
</div>